$full-width: 100%;
$content-width: 60%;
$extra-width: 15%;
$item-height: 33vw;

@mixin display-flex($jc: center, $ai: center, $fd: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}
@mixin text-hide-simple() {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
@mixin text-hide($line) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

#hdz-list-view {
    width: $full-width;
    height: auto;
    .hdz-list-item {
        width: $full-width;
        height: $item-height;
        padding: 2vw;
        box-sizing: border-box;
        overflow: hidden;
        border-bottom: 1px solid #E1E1E1;
        background: #FFF;
        @include display-flex(flex-start);
        &:last-child {
            border-bottom: none;
        }
        .hdz-list-image {
            width: ($item-height - 4vw)/3*4;
            height: $item-height - 4vw;
            overflow: hidden;
            &.hdz-list-image-raidus {
                border-radius: 6px;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }

        .hdz-list-content {
            width: $content-width;
            height: 100%;
            margin: 0 2vw;
            overflow: hidden;
            font-size: 3vw;
            line-height: 1.5;
            // @include display-flex(space-between, flex-start, column);
            .hdz-list-title {
                width: 100%;
                height: 40%;
                font-size: 3.5vw;
                font-weight: bold;
                line-height: 1.6;
                @include text-hide(2);
            }
            .hdz-list-tags {
                width: 100%;
                height: 20%;
                overflow: hidden;
                flex-wrap: wrap;
                @include display-flex(flex-start);
                span {
                    border: 1px solid #FF5E24;
                    color: #FF5E24;
                    font-size: 2.6vw;
                    line-height: 1.5;
                    border-radius: 1vw;
                    padding: .4vw 1vw 0;
                    margin: .5vw .5vw .5vw 0;
                    box-sizing: border-box;
                    @include display-flex();
                    @media screen and (max-width: 375px) {
                        line-height: 1.1;
                    }
                }
            }
            .hdz-list-highlight {
                width: 100%;
                height: 20%;
                overflow: hidden;
                span {
                    &:first-child {
                        font-size: 4vw;
                        color: red;
                        margin-right: 1vw;
                    }
                    &:last-child {
                        position: relative;
                        font-size: 2.8vw;
                        color: #999;
                        text-decoration: line-through;
                    }
                }
            }
            .hdz-list-counter {
                width: 100%;
                height: 20%;
                overflow: hidden;
                @include display-flex(flex-end);
                .hdz-counter {
                    width: 20vw;
                    height: 100%;
                    @include display-flex(space-between);
                    >div {
                        width: 5.5vw;
                        height: 5.5vw;
                        text-align: center;
                        border-radius: 50%;
                        @include display-flex();
                    }
                    .hdz-counter-sub {
                        font-size: 5vw;
                        color:#999;
                        border: 1px solid #CCC;
                    }
                    .hdz-counter-show {
                        input {
                            width: 100%;
                            height: 100%;
                            background: #fff;
                            border: none;
                            text-align: center;
                        }
                    }
                    .hdz-counter-plus {
                        font-size: 3vw;
                        color:#999;
                        border: 1px solid #CCC;
                    }
                }
            }
            .hdz-list-extra {
                width: 100%;
                height: 20%;
                color: #666;
                line-height: 2;
                @include text-hide-simple();
            }
        }

        .hdz-list-action {
            width: $extra-width;
            height: 100%;
            transition: all .35s ease-in-out;
            @include display-flex(space-between, center, column);
            .hdz-list-extra-block {
                width: 100%;
                height: 100%;
                color: #FFF;
                background: #FDA400;
                @include display-flex();
            }
        }
    }
}