.hdz-search.am-search {
    border-bottom: 1px solid #ddd;
}
.hdz-search .am-search-input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    overflow: hidden;
}
.hdz-search .am-search-cancel {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}