.subclass-tabs-container {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    background: #FFF;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    .subclass-tabs-body {
        width: 100%;
        height: 40px;
        padding-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;

        a {
            overflow: visible;
        }
    }

    .subclass-tabs-more {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: -1px -1px 5px #CCC;
    }
}