.x-rolling-container {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    background: #FFF;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    .x-rolling-body {
        width: 100%;
        height: 40px;
        padding-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;

        a {
            overflow: visible;
        }
    }

}